.productList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
  margin-top: 30px;
  height: 800px;
  overflow-y: auto;

  .product {
    width: 95%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    box-shadow: 0 1px 2px #333;
    padding: 5px;
    box-shadow: 0 2px 4px black;

    &__info {
      width: 200px;
      padding-left: 10px;
      h1 {
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 10px;
      }

      p {
        font-size: 18px;
      }
    }

    &__options {
      display: flex;

      .frame {
        margin-right: 10px;
        display: flex;
        align-items: center;
        h1 {
          font-weight: bold;
          margin-right: 10px;
        }
        div {
          box-shadow: inset 0 0 0 0.5px black, 0 0 0 0.5px black;
        }
      }

      .background {
        margin-right: 10px;
        display: flex;
        align-items: center;
        h1 {
          font-weight: bold;
          margin-right: 10px;
        }
      }

      .size {
        margin-right: 10px;
        display: flex;
        align-items: center;
        h1 {
          font-weight: bold;
          margin-right: 10px;
        }
      }
    }

    &__painting {
      position: relative;
      width: 150px;
      height: 150px;

      .deleteContainer {
        width: 100%;
        height: 100%;
        position: relative;
        opacity: 0;
        &:hover {
          opacity: 1;
        }
        &__deleteButton {
          position: absolute;
          right: 10px;
          top: 0;
          color: red;
          font-size: 30px;
        }
      }
    }
  }
}
.checkoutContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;

  span {
    font-weight: 700;
  }

  .checkoutBtn {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    width: 160px;
  }

  .checkoutPrice {
    border: 1px solid black;
    padding: 1px 0 1px 5px;
    background-color: white;
    border-radius: 5px;
    width: 160px;
  }
}
